<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="">
      <img
        src="https://i.imgur.com/j1mgL0q.png"
        height="50"
        alt=""
        loading="lazy"
        style="margin-top: -1px"
      />
    </a>

    <!-- Left links -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bmi">BMI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calorie">Calorie</a>
      </li>
    </ul>
    <!-- Left links -->

    <a
      class="btn btn-dark px-3"
      href="https://github.com/giovacerlisio"
      role="button"
      ><i class="fab fa-github"></i
    ></a>
  </div>
  <!-- Collapsible wrapper -->
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
