

<div style="text-align: center; margin-top: 250px;">
<h1 style="font-weight: 900;">Perche' Utilizzare Healthy?</h1>
<ul class="list-unstyled">
            <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>Calcoli affidabili e rapidi</li>
            <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>Open Source</li>
            <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>Dai ragazzi abbiamo un'arancia come logo!</li>
</ul>
</div>

<hr class="hr" style="margin-top: 100px;" />

<section class="text-center">
            <div class="row" style="margin-top: 100px;">
              <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
                <i class="fas fa-calculator fa-3x text-warning mb-4"></i>
                <h5 class="text-warning fw-bold mb-3">5+</h5>
                <h6 class="fw-normal mb-0">Formule</h6>
                <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
              </div>
          
              <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
                <i class="fas fa-times fa-3x text-warning mb-4"></i>
                <h5 class="text-warning fw-bold mb-3">0$</h5>
                <h6 class="fw-normal mb-0">Gratuito!</h6>
                <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
              </div>
          
              <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
                <i class="fas fa-carrot fa-3x text-warning mb-4"></i>
                <h5 class="text-warning fw-bold mb-3">100%</h5>
                <h6 class="fw-normal mb-0">Salute</h6>
                <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
              </div>

              <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
                        <i class="fab fa-angular fa-3x text-warning mb-4"></i>
                        <h5 class="text-warning fw-bold mb-3">100%</h5>
                        <h6 class="fw-normal mb-0">Angular</h6>
                        <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                      </div>
            </div>
          </section>